@media only screen and (max-width: 400px) {   
    .container{
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .previewCard{   
        width: 90vw;
        height: 90vh;
    
        border-radius: 2%;
        background-color: hsl(0, 0%, 100%);
    
        display: grid;
        grid-template-rows: auto auto;
    }

    .cardTop{
        grid-row: 1;
    
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("/assets/image-product-mobile.jpg");
    }
    
    .cardBottom{
        grid-row: 2;
    
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
    }
    
    .productType{
        grid-row: 1;
    }
    
    .product{
        grid-row: 2;
    }
    
    .description{
        grid-row: 3;
    }
    
    .price{
        grid-row: 4;
    }
    
    .cartAdd{
        grid-row: 5;
    }
    
    /* .attribution{
        transform: translateX(-50%);
    
        position: absolute;
        bottom: 1vh;
        left: 50%;
    } */
}