@media only screen and (max-width: 400px) {   
    .container{
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .previewCard{   
        width: 88vw;
        height: 92vh;
    
        border-radius: 1.6vh;
        background-color: hsl(0, 0%, 100%);
    
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 34.1vh 57.9vh; /* adds to 92vh */
    }

    .cardTop{
        grid-row: 1;
    
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("/assets/image-product-mobile.jpg");
    }
    
    .cardBottom{
        grid-row: 2;
    
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 9vh 12.8vh 16.8vh 5.8vh 13.5vh; /* adds to 57.9vh */
    }

    .padText{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 8vw;
        margin-right: 8vw;
    }
    
    .productType{
        grid-row: 1;
        /* background-color: #33bd85; */

        font-family: 'Montserrat', sans-serif;
        font-style: medium;
        font-weight: 500;
        font-size: 2vh;
        color: hsl(228, 12%, 48%);
    }
    
    .product{
        grid-row: 2;
        /* background-color: #e26ab0; */

        font-family: 'Fraunces', serif;
        font-style: bold;
        font-weight: 700;
        font-size: 4.5vh;
        line-height: 4.5vh;
    }

    #gabrielle{display: inline-block;}
    #essence{display: inline-block;}
    #eau{display: inline-block;}
    #parfum{display: inline-block;}
    
    .description{
        grid-row: 3;
        /* background-color: #68a8d3; */

        font-family: 'Montserrat', sans-serif;
        font-style: medium;
        font-weight: 500;
        font-size: 2vh;
        color: hsl(228, 12%, 48%);
        line-height: 3vh;
    }
    
    .price{
        grid-row: 4;
        /* background-color: #cfe778; */

        display: flex;
        align-items: center;
    }
    
    .cartAdd{
        grid-row: 5;

        display: flex;
        align-items: center;
    }
    
    #newPrice, #oldPrice{
        display: inline-block;
    }

    #newPrice p{
        font-family: 'Fraunces', serif;
        font-style: bold;
        font-weight: 700;
        font-size: 4.6vh;

        color: hsl(158, 36%, 37%);
    }

    #oldPrice{margin-left: 4.5vw;}
    #oldPrice p{
        font-family: 'Montserrat', sans-serif;
        font-style: medium;
        font-weight: 500;
        font-size: 2.25vh;

        color: hsl(228, 12%, 48%);
        text-decoration: line-through;
    }


    .addButton{
        width: 74vw;
        height: 7.3vh;

        border: 1px solid white;
        border-radius: 1.4vh;
        background-color: hsl(158, 36%, 37%);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .cartIcon{
        display: inline-block;
        width: 1.2vw;
        height: 2.6vh;

        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("/assets/icon-cart.svg");
    } */

    #cartText{
        display: inline-block;

        /* margin-left: 0.75vw; */
    }

    .addButton p{
        font-family: 'Fraunces', serif;
        font-style: bold;
        font-weight: 700;
        /* font-size: 2.2vh; */
        color: white;
    }

    button:hover{
        cursor: pointer;
        background-color: #1A4031;
    }

  
    .attribution{
        width: 100vw;
        transform: translateX(-50%);
    
        position: absolute;
        bottom: 1vh;
        left: 50%;
    
        font-size: 2vh;
        text-align: center;
    }
    
    .attribution a{color: hsl(228, 45%, 44%);}
}